/* Events Section */

.top {
    margin-top: 5rem;
}
.events {
    background-color: rgb(240, 240, 240);
    padding: 2rem;
    text-align: center;
}

.events h2 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    color: rgb(20, 156, 201);
    font-family: 'Chewy', sans-serif;
}

.events-container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr; 
    gap: 1rem; 
    align-items: center;
}

.event-large img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.event-small {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
}

.event-small img {
    width: 100%;
    height: 50%;
    object-fit: cover; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.even .events {
    background-color: rgb(96, 177, 204);
}

.even .events h2 {
    color: white;
}

@media screen and (max-width: 768px) {
    .events-container {
        grid-template-columns: 1fr; 
    }
}
