*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif
}
.main{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: lightblue;
}
nav{
    display: flex;
    align-items: center;
    background-color: white;
    position: sticky;
    z-index:999;
}
.logo{
    flex-basis: 10%;
}
.logo img {
    width: 150%;
}
.nav-links {
    flex: 1;
    text-align: right;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    margin: 40px;
}
.nav-links ul li a{
    text-decoration: none;
    color: #026dfa;
    font-size:x-large;

}
